<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/style_dash.css" />
  </head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <body>
    <script
      src="https://kit.fontawesome.com/88fed8b646.js"
      crossorigin="anonymous"
    ></script>
    <div class="div_nav_dash border">
      <div class="bem_vindo">
        <span>Bem-vindo! Empresa</span>
      </div>
      <i class="fa-solid fa-user icone_entrar"></i>
    </div>
    <div class="div_titulo">
      <h2>Informações sobre Linha de Produção</h2>
    </div>
    <div class="container_dashboard">
      <div class="dashboard border">
          <div class="graficos border">
            <canvas class="chart" id="myChart2"></canvas>
          </div>
          <div class="graficos border">
            <canvas class="chart" id="myChart"></canvas>
          </div>
          <div class="graficos border">
            <canvas class="chart" id="myChart3"></canvas>
          </div>
          <div class="graficos border">
            <canvas class="chart" id="myChart4"></canvas>
          </div>
      </div>
    </div>
  </body>
</html>
<script>
  const ctx = document.getElementById("myChart");
  const ctx2 = document.getElementById("myChart2");
  const ctx3 = document.getElementById("myChart3");
  const ctx4 = document.getElementById("myChart4");
  new Chart(ctx2, {
    type: "line",
    data: {
      labels: ["12:00", "13:00", "14:00", "15:00", "16:00", "17:00"],
      datasets: [
        {
          label: "Temperatura",
          data: [30, 29, 28, 25, 22, 23],
          borderWidth: 2,
          borderColor: "#995DB5",
          backgroundColor: "#995DB5",
        },
        {
          label: "Umidade",
          data: [80, 82, 80, 85, 80, 83],
          borderWidth: 2,
          borderColor: "#A68A64",
          backgroundColor: "#A68A64",
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
  new Chart(ctx, {
    type: "bar",
    data: {
      labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho"],
      datasets: [
        {
          label: "Temperatura Média",
          data: [22, 24, 27, 23, 20, 18],
          borderWidth: 1,
          borderColor: "#995DB5",
          backgroundColor: "#995DB5",
        },
        {
          label: "Umidade Média",
          data: [40, 42, 34, 38, 45, 43],
          borderWidth: 1,
          borderColor: "#A68A64",
          backgroundColor: "#A68A64",
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
  new Chart(ctx3, {
    type: "line",
    data: {
      labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho"],
      datasets: [
        {
          label: "Temperatura Média",
          data: [33, 32, 27, 25, 27, 28],
          borderWidth: 1,
          borderColor: "#995DB5",
          backgroundColor: "#995DB5",
        },
        {
          label: "Umidade Média",
          data: [40, 42, 34, 38, 45, 43],
          borderWidth: 1,
          borderColor: "#A68A64",
          backgroundColor: "#A68A64",
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
  new Chart(ctx4, {
    type: "bar",
    data: {
      labels: ["12:00", "13:00", "14:00", "15:00", "16:00", "17:00"],
      datasets: [
        {
          label: "Temperatura",
          data: [30, 29, 28, 25, 22, 23],
          borderWidth: 2,
          borderColor: "#995DB5",
          backgroundColor: "#995DB5",
        },
        {
          label: "Umidade",
          data: [40, 42, 34, 38, 45, 43],
          borderWidth: 2,
          borderColor: "#A68A64",
          backgroundColor: "#A68A64",
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });;
</script>
