<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="../css/style_login.css">
</head>
<body>

    <div class="corpo">

        <div class="header">
            <span class="titulo"> SHITECH </span>
            <span class="subtitulo"> LOGIN </span>
        </div>

        <div class="logo"></div>

        <div class="inputs">

            <span> Email: </span> <br> <br>
            <input type="text" id="ipt_email" placeholder="exemplo@gmail.com">  <br> <br>

            <span> Senha: </span> <br> <br>
            <input type="password" id="ipt_senha" placeholder="Digite sua senha">

        </div>
        <br>
        <button class="botao_entrar" onclick="logar()"> Entrar </button>
        <br>
        <div class="links">

            <a> Esqueceu sua senha? <a> <br> <br>
            <a> Não possui conta? Cadastre-se <a> 

        </div>
    </div>
    
</body>
</html>

<script>

function logar(){
    var email = ipt_email.value;
    var senha = ipt_senha.value;
    var erros = 0;
    var mensagemErro = '';

    if ((email.includes('@') && (email.endsWith('.com') || email.endsWith('.br'))) == false){
        mensagemErro += 'Email inválido.\n';
        erros++;
    }
    if(((senha.includes('.') || senha.includes('!') || senha.includes('_') || senha.includes('-') || senha.includes('$')) && senha.toUpperCase() != senha && senha.toLowerCase() != senha) == false){
        mensagemErro += 'Senha inválida.\n'
        erros++;
    }
    if(erros == 0){
        alert("Login Realizado.");
    }
    else{
        alert(mensagemErro);
    }
}

</script>