<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>SHITech | Cadastro</title>

  <link rel="stylesheet" href="../css/style.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
</head>

<body>

  <div class="cadastro">

    <div class="container">
      <div class="card card-cadastro">
        <img src="../images/logo.png" alt="Logo SHITech">
        <div class="formulario">
           <div class="campo">
            <span>Razão Social:</span>
            <input id="razao_input" type="text" placeholder="Insira aqui sua razão social" />
           </div>  
          <div class="campo">
            <span>Email:</span>
            <input id="email_input" type="text" placeholder="meuemail@provedor.com" />
          </div>
          <div class="campo">
            <span>Telefone:</span>
            <input id="telefone_input" type="text" maxlength="11" placeholder="Insira seu telefone sem espaços, traços e parenteses" />
          </div>
          <div class="campo">
            <span>CNPJ:</span>
            <input id="cnpj_input" type="text" maxlength="14" placeholder="**.***.***/****-**" />
          </div>
          <div class="campo">
            <span>Senha:</span>
            <input id="senha_input" type="password" placeholder="******" />
          </div>
          <div class="campo">
            <span>Confirmação da Senha:</span>
            <input id="confirmacao_senha_input" type="password" placeholder="******" />
          </div>
          <button class="botao" onclick="cadastrar()">Cadastrar</button>
          <span class="possui">Já possui uma conta?</span>
        </div>
      </div>
    </div>
  </div>

</body>

</html>

<script>

function cadastrar(){
  // ALOCA AS VARIÁVEIS

  var razaoSocial = razao_input.value;
  var email = email_input.value;
  var telefone = telefone_input.value;
  var cnpj = cnpj_input.value;
  var senha = senha_input.value;
  var confirmacao_senha = confirmacao_senha_input.value;
  var mensagemErro = '';

  // INICIA UM CONTADOR DE VERIFICAÇÕES QUE SERÁ USADO PARA REALIZAR O CADASTRO
  var verificacoes = 0;


  // email tem que conter @ e terminar .com ou .br

if (email.includes('@') && (email.endsWith('.com') || email.endsWith('.br')) && email.length > 10){
  verificacoes++;
}
else{
  mensagemErro += 'Email inválido.\n'
}

  // telefone tem que ter 10 ou 11 digitos
  
if(telefone.length < 12 && telefone.length > 9){
  verificacoes++;
}
else{
  mensagemErro += 'Telefone inválido.\n'
}

  // cnpj tem que ter 14 digitos

if(cnpj.length == 14){
  verificacoes++;
}
else{
  mensagemErro += 'CNPJ inválido.\n'
}

  // senha tem que ter no mínimo um caráctere maiúsculo, um minúsculo e um dos seguintes simbolos (. ! _ - $)

var contem_numero = false;

for(i = 0; i < senha.length; i++){
  if(!isNaN(senha[i])){
    contem_numero = true;
    i = senha.length;
  }
}
  
if((senha.includes('.') || senha.includes('!') || senha.includes('_') || senha.includes('-') || senha.includes('$')) && senha.toUpperCase() != senha && senha.toLowerCase() != senha && contem_numero){
  verificacoes++;
}
else{
  mensagemErro += 'Senha inválida.\n'
}

  // confirmação tem que ser igual senha
if(confirmacao_senha == senha){
  verificacoes++;
}
else{
  mensagemErro += 'As senhas não são compátiveis.\n'
}


if(verificacoes == 5){
  alert("Cadastro Realizado.")
}
else{
  alert(mensagemErro)
}
}

</script>