@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');


body{
    background-color: #EEEBE8;
    margin: 0;
}

.logo{
    background-image: url(../images/logo2.png);
    width: 70px;
    height: 55px;
    background-size: cover;
}

.fungos{
    background-image: url(../images/fungos.png);
    width: 755px;
    height: 410px;
}
.div_nav_bar{
    margin-inline: auto;
    background-color: rgba(166, 138, 100, 0.7);
    height: 40px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 1rem;
    color: white;
}

#search{
    height: 20px;   
    width: 100px;   
}

.icone_entrar{
    margin-left: 15px;
    font-size: 24px;

}

.border {
    border-radius: 25px;
}
.lateral_direita_nav{
    display: flex;
    margin-top: auto;
}
.bem_vindo{
    color: white;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 300;
    text-align: right;
}

.entrar{
    color: rgba(127, 79, 36, 0.7);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.nossos_dados{
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 300;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 2rem;

}
.produto_disponivel{
    flex-direction: column;
    background-color: #CFD0BD;
    padding: 30px;
    display: flex;
    
}
.titulo{
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    padding: 10px;
}
.div_eficiencia{
    width: 35%;
    font-family: "Roboto", sans-serif;
    font-size:  25px;
    text-align: center;
   
}

.titulo_corpo {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 700;
    font-size: 60px;
}
.controle_efi_fungos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contato{
    font-family: "Roboto", sans-serif; 
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    height: 50px;
    background-color: rgba(166, 138, 100, 1);
    margin-inline: auto;
    margin-top: 2rem;
    text-align: center;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.icone_user {
    font-size: 40px;
}


.div_quem_proposito{
    display: flex;
    margin: 3%;
    justify-content: space-around;
}
.div_meio_home{
    width: 40%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size:  25px;
    text-align: center;
}

.titulo_meio{
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 300;
    font-size: 60px;

}

.simulacao{
    text-align: center;
}

.titulo_simulacao{
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: bold;
    font-size: 45px;
    color:rgba(147, 102, 57, 1);
}

.titulo_simulacao2{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: rgba(166, 138, 100, 1)
}

.tit_h3{
    width: 80%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.tit_h3_grande{
    color: rgba(147, 102, 57, 1);
    font-weight: bold;

}
.produtor_fungos{
    flex-direction: column;
    background-color: #CFD0BD;
    padding: 2%;
    display: flex;
    align-items: center;
}

.titulo_calculadora{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color:#936639;
}

.inputs_calculadora_financeira{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ipts_calculadora{
    width: 80%;
    height: 25px;
    border-color: #936639;
    border-spacing: 8px;
}
.divs_calculadoras{
    width: 30%;
    text-align: center;
}
.botao{
    padding: 10%;
    padding-inline: 30px;
    background-color: #936639;
    border: 0;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
.botao_simular{
    text-align: center;
    margin-top: 3%;
}
.footer{
    margin-top: 10%;
    background-color: #535B44;
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: left;
    
}

.titulo_footer{
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight:400;
    font-size: 35px;
    text-align: center;  
}

.icone_texto_footer{
    display: flex;  
    flex-direction: row;
    font-size: 20px; 
    text-align: center;
    align-items: center;
}

.itens_footer{
    display: flex;
    flex-direction: column;
}
.h3_endereco{
    margin: 0;
}

#logofooter{
    background-color: #535B44;
    display: flex;
    justify-content: center;
}
.logo_footer{
    background-image: url(../images/logo2.png);
    width: 195px;
    height: 175px;
    background-size: cover;
    
    
}

.fa-solid{
    padding: 1vh;
}
.fa-brands{
    padding: 1vh;
}
.itens_footer{
    text-align: center;
}