
body{
    margin: 0;
    background-color: #EAE7E3;
}
.div_nav_dash{
    margin: 2%;
    margin-inline: auto;
    background-color: rgba(166, 138, 100, 0.7);
    height: 40px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
}
.border {
    border-radius: 25px;
}
.icone_entrar{
    margin-inline: 1vw;
}
.div_titulo{
    display: flex;
    justify-content: center;
}
.container_dashboard{
    display: flex;
    justify-content: center;
}
.dashboard{
    width: 95vw;
    background-color: #CECFBB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.graficos{
    display: flex;
    background-color: #EAE7E3;
    height: 40vh;
    margin: 20px;
}
.container_menu{
    width: 20vw;
    background-color: rgba(166, 138, 100, 1);
    display: flex;
    justify-content: center;
}
.lista{
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.lista li{
    text-decoration: none;
}
.lista button{
    padding-top: 2vh;
    padding-bottom: 2vh;
    border: none;
    background-color: rgba(166, 138, 100, 1);
    color: white;
    height: 100%;
    width: 100%;
}
.lista button:hover{
    border: none;
    background-color: rgba(127, 79, 36, 1);

}
.container_dash{
    width: 80vw;
}
.container_all{
    display: flex;
}
.container_menu img {
    width: 150px;
    height: 120px;
}